<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTuv9tJohxW2t0mfE4JM6sxokhhg8Jheg</string>
	<key>GCM_SENDER_ID</key>
	<string>694871082771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppStarter</string>
	<key>PROJECT_ID</key>
	<string>chatapp4-4e58b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp4-4e58b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694871082771:ios:5f28faf48f5d8de0053ce6</string>
</dict>
</plist>